/* Declaring font-faces */

@font-face {
  font-family: 'Kalameh-Black';
  src: url('../public/font/KALAMEH-BLACK.TTF');
}
@font-face {
  font-family: 'Kalameh-Bold';
  src: url('../public/font/KALAMEH-BOLD.TTF');
}

/* Styling html element */

html {
  box-sizing: border-box;
  overflow: hidden;
}

/* Styling all the elements */

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

/* Styling body element */

body {
  height: 100dvh;
  position: relative;
  overflow: hidden;
  background-color: #06030c;
  display: flex;
  align-items: center;
  justify-content: center;
}